.container {
    width: 590px;
}

.buttons-container {
    display: flex;
    align-items: center;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

button:active {
    background-color: green;
}

.green {
    background-color: green;
}
